In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [9]:
'''
Written by Chad Valencia, chadvalencia@gmail.com for Codecademy

Data sourced from:
https://archive.ics.uci.edu/ml/datasets/Sentiment+Labelled+Sentences
for the paper:
From Group to Individual Labels using Deep Features', Kotzias et. al,. KDD 2015 
'''

"\nWritten by Chad Valencia, chadvalencia@gmail.com for Codecademy\n\nData sourced from:\nhttps://archive.ics.uci.edu/ml/datasets/Sentiment+Labelled+Sentences\nfor the paper:\nFrom Group to Individual Labels using Deep Features', Kotzias et. al,. KDD 2015 \n"

In [10]:
yelp_reviews = pd.read_csv('data/yelp_labelled.txt',header=None,delimiter='\t')

In [11]:
yelp_reviews.head(20)

                                                    0  1
0                            Wow... Loved this place.  1
1                                  Crust is not good.  0
2           Not tasty and the texture was just nasty.  0
3   Stopped by during the late May bank holiday of...  1
4   The selection on the menu was great and so wer...  1
5      Now I am getting angry and I want my damn pho.  0
6               Honeslty it didn't taste THAT fresh.)  0
7   The potatoes were like rubber and you could te...  0
8                           The fries were great too.  1
9                                      A great touch.  1
10                           Service was very prompt.  1
11                                 Would not go back.  0
12  The cashier had no care what so ever on what I...  0
13  I tried the Cape Cod ravoli, chicken,with cran...  1
14  I was disgusted because I was pretty sure that...  0
15  I was shocked because no signs indicate cash o...  0
16                                Highly recommended.  1
17             Waitress was a little slow in service.  0
18  This place is not worth your time, let alone V...  0
19                               did not like at all.  0

In [12]:
yelp_reviews.describe()

                1
count  1000.00000
mean      0.50000
std       0.50025
min       0.00000
25%       0.00000
50%       0.50000
75%       1.00000
max       1.00000

In [13]:
imdb_reviews = pd.read_csv('data/imdb_labelled.txt',header=None,delimiter='\t')

In [14]:
amazon_reviews = pd.read_csv('data/amazon_cells_labelled.txt',header=None,delimiter='\t')

In [15]:
imdb_reviews.head() #can also change to imdb_reviews.describe()

                                                   0  1
0  A very, very, very slow-moving, aimless movie ...  0
1  Not sure who was more lost - the flat characte...  0
2  Attempting artiness with black & white and cle...  0
3       Very little music or anything to speak of.    0
4  The best scene in the movie was when Gerardo i...  1

In [16]:
amazon_reviews.head()

                                                   0  1
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1

In [17]:
#To-Do: Run count-vectorizer and Naive Bayes.

In [18]:
#Count Vectorizer does a word count of every word in the overall vocabulary

#yelp reviews
y_count = CountVectorizer()
X_yelp = y_count.fit_transform(yelp_reviews[0])

#imdb reviews
i_count = CountVectorizer()
X_imdb = i_count.fit_transform(imdb_reviews[0])

#amazon reviews
a_count = CountVectorizer()
X_amzn = a_count.fit_transform(amazon_reviews[0])

In [19]:
#train_test_splitting the data
Xy_train, Xy_test, Yy_train, Yy_test = train_test_split(X_yelp, yelp_reviews[1], test_size=.2, random_state=42)

Xi_train, Xi_test, Yi_train, Yi_test = train_test_split(X_imdb, imdb_reviews[1], test_size=.2, random_state=42)

Xa_train, Xa_test, Ya_train, Ya_test = train_test_split(X_amzn, amazon_reviews[1], test_size=.2, random_state=42)

In [20]:
#Creating the models
yelp = MultinomialNB() #Naive Bayes Model
yelp.fit(Xy_train,Yy_train)
print('accuracy: ' + str(yelp.score(Xy_test,Yy_test))) #makes a prediction using Xy_test, scores accuracy to Yy_test

accuracy: 0.795

In [21]:
imdb = MultinomialNB()
imdb.fit(Xi_train,Yi_train)
print('accuracy: ' + str(imdb.score(Xi_test,Yi_test))) #makes a prediction using Xi_test, scores accuracy to Yi_test

accuracy: 0.7933333333333333

In [22]:
amzn = MultinomialNB()
amzn.fit(Xa_train,Ya_train)
print('accuracy: ' + str(amzn.score(Xa_test,Ya_test))) #makes a prediction using Xi_test, scores accuracy to Yi_test

accuracy: 0.845

In [45]:
def testing(test_sentence):
    yp = yelp.predict(y_count.transform([test_sentence]))
    ip = imdb.predict(i_count.transform([test_sentence]))
    ap = amzn.predict(a_count.transform([test_sentence]))
    ypr = yelp.predict_proba(y_count.transform([test_sentence]))*100
    ipr = imdb.predict_proba(i_count.transform([test_sentence]))*100
    apr = amzn.predict_proba(a_count.transform([test_sentence]))*100
    list = [yp, ip, ap]
    list2 = []
    for i in list:
        if i == 1:
            list2.append('positive')
        else:
            list2.append('negative')
    list3 = ypr,ipr,apr
    list4 = ['yelp','imdb','amazon']
    for i in range(3):
        print(str(list4[i])+' is predicted '+str(list2[i])+' with a positive probability of {:.04f} %'.format(list3[i][0][1]))
    pass

In [46]:
test_sentence = 'Pickles were delicious'

In [47]:
testing(test_sentence)

yelp is predicted positive with a positive probability of 97.0974 %
imdb is predicted positive with a positive probability of 51.6851 %
amazon is predicted negative with a positive probability of 34.4245 %